<h2>All Heroines</h2>

<%= form_for 'filter_by_power', method: "get" do |f| %>
  <%= f.label "Enter power to filter by: "%>
  <%= f.text_field :power %>
  <%= f.submit %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
